<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Finalizar Consulta</title>
<link th:href="@{/styles/form-custom.css}" rel="stylesheet" />
</head>

<body>
	<h1>Finalizar Consulta</h1>

	<div class="container">
		<div>
			<b><p style="color: red;" th:text="${error}"></p></b>
		</div>

		<form method="POST" th:action="@{'../finish'}">
			<input type="hidden" name="consultationId" th:value="${consultationDTO.id}" />
			<div>
				<label>Status:</label> <input type="text" name="status"
					th:value="${consultationDTO?.status}" readonly />
			</div>
			<div>
				<label>Data:</label> <input type="datetime-local" name="dateTime"
					th:value="${consultationDTO?.dateTime}" readonly />
			</div>

			<div>
				<label>Médico:</label> <input type="text" name="doctorName"
					th:value="${consultationDTO?.doctorName}" readonly />
			</div>
			<div>
				<label>Paciente:</label> <input type="text" name="patientName"
					th:value="${consultationDTO?.patientName}" readonly />
			</div>
			<div>
				<label>Diagnóstico:</label>
				<textarea rows="5" name="details"></textarea>
			</div>

			<div>
				<div class="btn-group">
					<input class="btn btn-save" type="submit"
						value="Finalizar consulta" />
					<button class="btn btn-back" type="button"
						onclick="window.location.replace('/consultation/list')">Voltar</button>
				</div>
			</div>
		</form>
	</div>
</body>

</html>