<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Consultas</title>
</head>

<body>
	<h1>Lista de Consultas</h1>

	<table>
		<tr>
			<th>Médico</th>
			<th>Paciente</th>
			<th>Data</th>
			<th>Status</th>
			<th>Editar</th>
			<th>Remover</th>
		</tr>
		<tr th:each="consultationDTO : ${consultationsDTO}">
			<td th:text="${consultationDTO.doctorName}"></td>
			<td th:text="${consultationDTO.patientName}"></td>
			<td th:text="${consultationDTO.dateTime}"></td>
			<td th:text="${consultationDTO.status}"></td>
			<td><a th:href="@{/consultation/edit/{id} (id=${consultationDTO.id})}">Editar</a></td>
			<td><a th:href="@{/consultation/delete/{id} (id=${consultationDTO.id})}">Remover</a></td>
		<tr>
	</table>
	<a href="add">Adicionar</a>
</body>

</html>