<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Consultas</title>
</head>

<body>

	<form action="list">
		<label>Selecione um médico:</label>
		<select name="doctorId" required>
			<option selected disabled value="">Selecione um médico</option>
			<option th:selected="${doctor.id == doctorId}" th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.name}"></option>
		</select>
		<br>
		
		<label>Selecione um paciente:</label>
		<select name="patientId" required>
			<option selected disabled value="">Selecione um paciente</option>
			<option th:selected="${patient.id == patientId}" th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.name}"></option>
		</select>
		<br>
		 <input type="submit" value="Pesquisar"></input>
	</form>

	<h1>Lista de Consultas</h1>

	<table>
		<tr>
			<th>Médico</th>
			<th>Paciente</th>
			<th>Data</th>
			<th>Status</th>
			<th>Editar</th>
			<th>Remover</th>
		</tr>
		<tr th:each="consultationDTO : ${consultationsDTO}">
			<td th:text="${consultationDTO.doctorName}"></td>
			<td th:text="${consultationDTO.patientName}"></td>
			<td th:text="${consultationDTO.dateTime}"></td>
			<td th:text="${consultationDTO.status}"></td>
			<td><a th:href="@{/consultation/edit/{id} (id=${consultationDTO.id})}">Editar</a></td>
			<td><a th:href="@{/consultation/delete/{id} (id=${consultationDTO.id})}">Remover</a></td>
		<tr>
	</table>
	<a href="add">Adicionar</a>
</body>

</html>