<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Adicionar Paciente</title>
<link th:href="@{/styles/form-custom.css}" rel="stylesheet" />
</head>

<body>
	<h1>Adicionar Paciente</h1>

	<div class="container">
		<div>
			<b><p style="color: red;" th:text="${error}"></p></b>
		</div>

		<form method="POST" th:action="@{'add'}">
			<div>
				<label>Nome:</label> <input type="text" name="name"
					th:value="${patientDTO?.name}" required />
			</div>

			<div>
				<label>CPF:</label> <input type="text" name="cpf"
					th:value="${patientDTO?.cpf}" required />
			</div>

			<div>
				<label>CEP:</label> <input type="text" name="addressPostalCode"
					th:value="${patientDTO?.addressPostalCode}" required />
			</div>

			<div>
				<label>Bairro:</label> <select name="districtId" required>
					<option selected disabled value="">Escolha um bairro</option>
					<option th:selected="${district.id == patientDTO?.districtId}"
						th:each="district : ${districts}" th:value="${district.id}"
						th:text="${district.name}"></option>
				</select>
			</div>

			<div>
				<label>Logradouro:</label> <input type="text" name="addressStreet"
					th:value="${patientDTO?.addressStreet}" required />
			</div>

			<div>
				<label>Número:</label> <input type="number" name="addressNumber"
					th:value="${patientDTO?.addressNumber}" required />
			</div>

			<div>
				<label>Complemento:</label> <input type="text"
					name="addressComplement"
					th:value="${patientDTO?.addressComplement}" required />
			</div>
			<div>
				<div class="btn-group">
					<input class="btn btn-save" type="submit" value="Salvar" />
					<button class="btn btn-back" type="button"
						onclick="window.history.back()">Voltar</button>
				</div>
			</div>
		</form>
	</div>
</body>

</html>