<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Lista de Pacientes</title>
<link th:href="@{/styles/list-custom.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>

	<script type="text/javascript">
		let error = '[[${error}]]'
		if (error) {
			Toastify({
				text : error,
				duration : 3000,
				close : true,
				style : {
					background : "#BA2C2C",
				},
			}).showToast();
		}
	</script>

	<div
		th:replace="~{fragments/navigation :: navigation(${'patient'})}"></div>

	<div class="container-content">
		<h1>Lista de Pacientes</h1>

		<div th:replace="~{fragments/filter :: filter(${true})}"></div>

		<table>
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>CEP</th>
				<th>Bairro</th>
				<th>Rua</th>
				<th>Número</th>
				<th>Complemento</th>
				<th>Editar</th>
				<th>Remover</th>
			</tr>
			<tr th:each="patientDTO : ${patientsDTO}">
				<td th:text="${patientDTO.name}"></td>
				<td th:text="${patientDTO.cpf}"></td>
				<td th:text="${patientDTO.addressPostalCode}"></td>
				<td th:text="${patientDTO.districtName}"></td>
				<td th:text="${patientDTO.addressStreet}"></td>
				<td th:text="${patientDTO.addressNumber}"></td>
				<td th:text="${patientDTO.addressComplement}"></td>
				<td><a class="btn"
					th:href="@{/patient/edit/{id} (id=${patientDTO.id})}">Editar</a></td>
				<td><a class="btn"
					th:href="@{/patient/delete/{id} (id=${patientDTO.id})}">Remover</a></td>
			<tr>
		</table>
	</div>
</body>

</html>