<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Adicionar Bairro</title>
<link th:href="@{/styles/form-custom.css}" rel="stylesheet" />
</head>
<body>
	<h1>Adicionar Bairro</h1>
	<div class="container">
		<div>
			<p th:if="${error}" th:text="${error}" style="color: red"></p>
		</div>
		<form method="POST" th:action="@{'add'}">
			<div>
				<label>Nome:</label> <input type="text" name="name"
					th:value="${districtDTO?.name}" required/>
			</div>
			<div>
				<div class="btn-group">
					<input class="btn btn-save" type="submit" th:value="Salvar" />
					<button class="btn btn-back" type="button"
						onclick="window.location.replace('/district/list')">Voltar</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>