<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Lista de Bairros</title>
<link th:href="@{/styles/list-custom.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>

	<script type="text/javascript">
		let error = '[[${error}]]'
		if (error) {
			Toastify({
				text : error,
				duration : 3000,
				close : true,
				style : {
					background : "#BA2C2C",
				},
			}).showToast();
		}
	</script>
	<ul>
		<li><a href="../consultation/list">Consultas</a></li>
		<li><a href="../doctor/list">Médicos</a></li>
		<li><a href="../patient/list">Pacientes</a></li>
		<li><a class="active" href="../district/list">Bairros</a></li>
	</ul>
	
	<div class="container-content">
		<h1>Lista de Bairros</h1>
	
		<div th:replace="fragments/filter :: filter"></div>
	
		<table>
			<tr>
				<th>Nome</th>
				<th>Editar</th>
				<th>Remover</th>
			</tr>
			<tr th:each="districtDTO : ${districtsDTO}">
				<td th:text="${districtDTO.name}"></td>
				<td><a class="btn"
					th:href="@{/district/edit/{id} (id=${districtDTO.id})}">Editar</a></td>
				<td><a class="btn"
					th:href="@{/district/delete/{id} (id=${districtDTO.id})}">Remover</a></td>
			<tr>
		</table>
	</div>
</body>

</html>