<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Posto de Saúde Web</title>
</head>
<style>
	label {
		display: inline-block;
		float: left;
		clear: left;
		width: 150px;
		text-align: right;
	}

	input, select {
		display: inline-block;
		float: left;
	}
</style>

<body>
	<h1>Cadastrar médicos</h1>
	
	<div>
		<b><p style="color: red;" th:text="${error}"></p></b>
	</div>

	<form method="POST" action="add-doctor">
		<label>Nome:</label>
		<input type="text" name="name" /> <br>
		
		<label>CPF</label>
		<input type="text" name="cpf" /> <br>
		
		<label>CRM:</label>
		<input type="text" name="crm" /> <br>

		<label>Logradouro:</label>
		<input type="text" name="street" /> <br>

		<label>Número:</label>
		<input type="text" name="addressNumber" /> <br>

		<label>CEP:</label>
		<input type="text" name="cep" />

		<label>Bairro:</label>
		<select name="idDistrict">
			<option value="0">Escolha um bairro</option>
			<option th:each="district : ${districts}" th:value="${district.id}" th:text="${district.name}"></option>
		</select>
		<br>
		
		<label>Complemento:</label>
		<input type="text" name="complement" /> <br>

		<input type="submit" value="cadastrar" />
	</form>
	
</body>

</html>