<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>Lista de Bairros Cadastrados</h1>
	<table>
		<tr>
			<th>nome</th>
			<th>editar</th>
			<th>remover</th>
		</tr>
		<tr th:each="district : districts">
			<td th:text="${bairro.id}">?</td>
			<td th:text="${bairro.name}">?</td>
			<td><a th:href="@{/add-district(id=${district.id})}"> editar</a></td>
			<td><a th:href="@{/delete-district(id=${district.id})}"> remover</a></td>
		<tr>		
	</table>

</body>

</html>