<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Editar Médico</title>
<link th:href="@{/styles/form-custom.css}" rel="stylesheet" />
</head>
<body>
	<h1>Editar Médico</h1>

	<div class="container">
		<div>
			<b><p style="color: red;" th:text="${error}"></p></b>
		</div>

		<form method="POST" th:action="@{'../edit'}">
			<input type="hidden" name="id" th:value="${doctorDTO.id}" />

			<div>
				<label>Nome:</label> <input type="text" name="name"
					th:value="${doctorDTO?.name}" />
			</div>

			<div>
				<label>CPF:</label> <input type="text" name="cpf"
					th:value="${doctorDTO?.cpf}" />
			</div>

			<div>
				<label>CRM:</label> <input type="text" name="crm"
					th:value="${doctorDTO?.crm}" />
			</div>

			<div>
				<label>CEP:</label> <input type="text" name="addressPostalCode"
					th:value="${doctorDTO?.addressPostalCode}" />
			</div>

			<div>
				<label>Bairro:</label> <select name="districtId">
					<option selected disabled value="">Escolha um bairro</option>
					<option th:selected="${district.id == doctorDTO?.districtId}"
						th:each="district : ${districts}" th:value="${district.id}"
						th:text="${district.name}"></option>
				</select>
			</div>

			<div>
				<label>Logradouro:</label> <input type="text" name="addressStreet"
					th:value="${doctorDTO?.addressStreet}" />
			</div>

			<div>
				<label>Número:</label> <input type="number" name="addressNumber"
					th:value="${doctorDTO?.addressNumber}" />
			</div>

			<div>
				<label>Complemento:</label> <input type="text"
					name="addressComplement" th:value="${doctorDTO?.addressComplement}" />
			</div>
			<div>
				<div class="btn-group">
					<input class="btn btn-save" type="submit" value="Salvar" />
					<button class="btn btn-back" type="button"
						onclick="window.location.replace('/doctor/list')">Voltar</button>
				</div>
			</div>
		</form>
	</div>
</body>

</html>