<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Lista Médicos Cadastrados</title>
<link th:href="@{/styles/list-custom.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<body>

	<script type="text/javascript">
		let error = '[[${error}]]'
		if (error) {
			Toastify({
				text : error,
				duration : 3000,
				close : true,
				style : {
					background : "#BA2C2C",
				},
			}).showToast();
		}
	</script>

	<ul>
		<li><a href="../consultation/list">Consultas</a></li>
		<li><a class="active" href="../doctor/list">Médicos</a></li>
		<li><a href="../patient/list">Pacientes</a></li>
		<li><a href="../district/list">Bairros</a></li>
	</ul>

	<div class="container-content">
		<h1>Lista de Médicos</h1>
		
		<div th:replace="fragments/filter :: filter"></div>

		<table>
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>CRM</th>
				<th>Endereço</th>
				<th>Bairro</th>
				<th>Cep</th>
				<th>Número</th>
				<th>Complemento</th>
				<th>Editar</th>
				<th>Remover</th>
			</tr>
			<tr th:each="doctorDTO : ${doctorsDTO}">
				<td th:text="${doctorDTO.id}" hidden></td>
				<td th:text="${doctorDTO.name}"></td>
				<td th:text="${doctorDTO.cpf}"></td>
				<td th:text="${doctorDTO.crm}"></td>
				<td th:text="${doctorDTO.districtName}"></td>
				<td th:text="${doctorDTO.addressStreet}"></td>
				<td th:text="${doctorDTO.addressPostalCode}"></td>
				<td th:text="${doctorDTO.addressNumber}"></td>
				<td th:text="${doctorDTO.addressComplement}"></td>
				<td><a class="btn"
					th:href="@{/doctor/edit/{id} (id=${doctorDTO.id})}">Editar</a></td>
				<td><a class="btn"
					th:href="@{/doctor/delete/{id} (id=${doctorDTO.id})}">Remover</a></td>
			<tr>
		</table>

	</div>
</body>

</html>